:hover {
  boder-color: red;
}

.tasks-container {
  display: flex;
  flex-grow: 9999999;
  flex-direction: column;
  width: 90%;
  overflow: auto;
  align-items: center;
}

task {
	width: 100%;
	height: 50px;
	background-color: gainsboro;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px 0;
}

.remove {
  background-image: url('/assets/Remove.png');
  width: 37px;
  height: 37px;
}
