.tasks-container {
  display: block;
  flex-grow: 9999999;
  width: 90%;
  overflow: auto;
}

task {
	width: 100%;
	height: 50px;
	background-color: gainsboro;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px 0;
}